<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 6 years of experience as a software engineer, and have worked
            at both small startups and large organizations. While I'm a proficient full-stack
            developer, my expertise is in building scalable backend services (API services, stream processing,
            and also web development).
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Migrated a monolithic Heroku Ruby on Rails API to multiple Scala
            services hosted on AWS. Delivered ahead of schedule, projected to save $18k/quarter.
    			</li>
          <li>
           Developed a social media monitoring system using python
          <li>
            Automated test automation in ramp-up to large data center migration, saving hundreds of developer hours.
    			<li>
           Part of development team which did the current midlands state university website
    			<li>
           Developed a plethora of personal projects
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
